.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.imgToggle {
  height: 250px;
  width: 250px;
  margin: 10px;
  
}

.tile {
  border: 5px solid #FF686B;
  margin: 5px;
  border-radius: 15px;
  background-color: #97EFE9;

};

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


